@tailwind base;
@tailwind components;
@tailwind utilities;

nav .dropdown-active {
  animation: slide-in 0.5s ease-in-out forwards;
}

nav .dropdown-inactive {
  animation: slide-out 0.5s ease-in-out forwards;
}

nav .fade-in {
  animation: fade-in 0.25s ease-in-out forwards;
}

nav .fade-out {
  animation: fade-out 0.25s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }

  100% {
    display: none;
    transform: translateY(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.crisp-edges {
  image-rendering: crisp-edges;
}
