@tailwind base;
@tailwind components;
@tailwind utilities;

nav .dropdown-active {
  transform: translateY(0);
  animation: slide-in 0.5s ease-in-out;
}

nav .dropdown-inactive {
  transform: translate(-100%);
  animation: slide-out 0.5s ease-in-out;
}

nav .fade-in {
  opacity: 1;
  animation: fade-in 0.25s ease-in-out;
}

nav .fade-out {
  opacity: 0;
  animation: fade-out 0.25s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
